# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Secrets
.env

# Local data / outputs
data/db.sqlite3
data/packets/
data/application_tracker.csv

# Editor/OS
.vscode/
Thumbs.db
.DS_Store